extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Quisque posuere sed ex nec viverra. Maecenas fermentum ante at mattis viverra. Nullam sit amet risus vitae augue mattis scelerisque. Donec in libero eget nulla rhoncus ullamcorper non nec mi. Nam euismod blandit hendrerit. Vivamus convallis ac purus a faucibus. 
                p  Quisque ut rutrum odio, quis tincidunt purus. Quisque posuere sed ex nec viverra. Maecenas fermentum ante at mattis viverra. Nullam sit amet risus vitae augue mattis scelerisque. Donec in libero eget nulla rhoncus ullamcorper non nec mi. Nam euismod blandit hendrerit. Vivamus convallis ac purus a faucibus. 
                p Quisque posuere sed ex nec viverra. Maecenas fermentum ante at mattis viverra. Nullam sit amet risus vitae augue mattis scelerisque. Donec in libero eget nulla rhoncus ullamcorper non nec mi. Nam euismod blandit hendrerit. Vivamus convallis ac purus a faucibus. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nullam sit amet risus vitae augue mattis scelerisque. Donec in libero eget nulla rhoncus ullamcorper non nec mi. Nam euismod blandit hendrerit. Vivamus convallis ac purus a faucibus.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nullam sit amet risus vitae augue mattis scelerisque. Donec in libero eget nulla rhoncus ullamcorper non nec mi. Nam euismod blandit hendrerit. Vivamus convallis ac purus a faucibus.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Nullam sit amet risus vitae augue mattis scelerisque. Donec in libero eget nulla rhoncus ullamcorper non nec mi. Nam euismod blandit hendrerit. Vivamus convallis ac purus a faucibus.